<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    @*@Scripts.Render("~/bundles/jquery")*@

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/app")
    @Scripts.Render("~/bundles/app/layout")
    @Styles.Render("~/Content/layout/css")


    <style>
        .titulo {
            font-size: 1.4em !important;
        }
    </style>
</head>
<body class="homepage">

    <div id="header">
        <div class="container">

            <!-- Logo -->
            <div id="logo">
                <h1><a href="#">EE Hércules Maymone</a></h1>
                <span>Portal de Notícias</span>
            </div>

            <!-- Nav -->
            <nav id="nav">
                <ul>
                    @*<li>
                        @Html.ActionLink("Home", "Index", "Noticias", new { area = "" }, null)
                    </li>
                    <li><a href="left-sidebar.html">Cursos</a></li>
                    <li>

                        @Html.ActionLink("Todas as notícias", "AllNews", "Noticias", new { area = "" }, null)
                    </li>*@

                    @if (ViewBag.menu == "home")
                    {
                    <li class="active">@Html.ActionLink("Home", "Index", "Noticias", new { area = "" }, null)</li>
                    }
                    else
                    {
                    <li>@Html.ActionLink("Home", "Index", "Noticias", new { area = "" }, null)</li>
                    }

                    @if (ViewBag.menu == "allnews")
                    {
                        <li class="active">@Html.ActionLink("Todas as notícias", "AllNews", "Noticias", new { area = "" }, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Todas as notícias", "AllNews", "Noticias", new { area = "" }, null)</li>
                    }

                    @if (ViewBag.menu == "contatos")
                    {
                        <li class="active">@Html.ActionLink("Contatos", "Contatos", "Noticias", new { area = "" }, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Contatos", "Contatos", "Noticias", new { area = "" }, null)</li>
                    }

                </ul>
            </nav>
        </div>
    </div>

    <!-- Main -->
    <div id="main">
        <div class="container">
            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="4u">
                    <section>
                        <h2>Últimas postagens</h2>
                        <ul class="default">
                            <li><a href="#">Confira a merenda escolar</a></li>
                            <li><a href="#">Novo portal de notícias</a></li>
                            <li><a href="#">Interclasse</a></li>
                            <li><a href="#">Reunião de pais e mestres</a></li>
                            <li><a href="#">Show de talentos</a></li>
                        </ul>
                    </section>
                </div>
                <div class="4u">
                    <section>
                        <h2>Redes sociais</h2>
                        <ul class="default">
                            <li><a href="facebook.com" target="_blank">Siga-nos no facebook</a></li>
                            <li><a href="twitter.com" target="_blank">Siga-nos no twitter</a></li>
                            <li><a href="instagran.com" target="_blank">Siga-nos no instagran</a></li>
                        </ul>
                    </section>
                </div>
                <div class="4u">
                    <section>
                        <h2>Links úteis</h2>
                        <ul class="default">
                            <li><a href="#">SEDMS</a></li>
                            <li><a href="#">Perguntas frequentes</a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#">Cras vitae metus aliquam pharetra</a></li>
                            <li><a href="#">Maecenas vitae orci feugiat eleifend</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>



    <!-- Copyright -->
    <div id="copyright">
        <div class="container">
            Desenvolvido por: @Html.ActionLink("Alunos", "Alunos", "Noticias", new { area = "" }, null)
        </div>
    </div>

    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/app")
        @RenderSection("scripts", required: false)*@
</body>
</html>
